  
  
  
		
.my-svg-container{
 display: inline-block;
 position: relative;
 width: 50%;
 padding-bottom: 60%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
 
 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.my-svg{ /* svg into : object, img or inline */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
	  
  
  
.warning
{
width:480px;
height:320px;
display: none;
background-color:#000;
border-top-right-radius:5px;
border-top-left-radius:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
padding:5px;
position: fixed;
top: 0; left: 0; right: 0; bottom: 0; 
z-index: 100;
}
.warning_header
{
font-size:30px;
text-align:center;
color: red;
}

.warning_text
{
font-size:15px;
text-align:left;
color: yellow;
}

.vspeed_config
{
font-size:25px;
color: #CCC;   
}

.warning_ok
{
font-size:25px;
text-align:center;
background-color:#CCc;
color: black;
}


.keypad
{
width:470px;
height:320px;
display: none;
background-color:#000;
border-top-right-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
padding:5px;
position: fixed;
top: 0; left: 0; right: 0; bottom: 0; 
z-index: 10;
}
.number_button
{
width:113px;
height:70px;
margin:2px;
float:left;
background-color:#FFFF99;
border-top-right-radius:5px;
border-top-left-radius:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
font-size:30px;
text-align:center;
}
.number_button:hover
{
background-color:#66FF69;

}
.text_box
{
width:150px; 
height:30px;
font-size:24px;
text-align:right;
}
